<a href="https://colab.research.google.com/github/anacarolinasm1609/anacarolinasm1609/blob/main/Hidden_layer_carvao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
# Bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.metrics import r2_score 
from google.colab import files

In [123]:
# Gerar grafico no browser
%matplotlib inline

In [124]:
!git clone https://github.com/anacarolinasm1609/anacarolinasm1609
%cd anacarolinasm1609

Cloning into 'anacarolinasm1609'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (24/24), done.
remote: Total 24 (delta 9), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (24/24), done.
/content/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609/anacarolinasm1609

In [125]:
# Leitura dos dados
df=pd.read_csv("Paper_Carvao_China_abril_12_2016.csv")

In [126]:
# Leitura das cinco primeiras linhas da tabela
df.head(5)

   Unnamed: 0 Cod  Water    Ash  Volatil  ...  Nitro  Sulfur  Oxygen   TC     Ea
0           1  LL   4.19  19.45    33.19  ...   1.02    4.38    7.66  435  170.1
1           2  YY   1.06  20.46    31.53  ...   1.38    0.74    7.51  451  206.6
2           3  SF   6.60   9.56    31.49  ...   0.95    0.38   12.56  431  273.5
3           4  YM   9.47  14.19    30.02  ...   0.83    0.44   13.71  403  160.8
4           5  ZZ   1.84  18.10    29.43  ...   1.22    0.88    8.02  466  228.4

[5 rows x 14 columns]

In [127]:
# Leitura das cinco ultimas linhas da tabela
df.tail(5)

    Unnamed: 0        Cod  Water    Ash  ...  Sulfur  Oxygen   TC     Ea
59          60  DU4PX2LQ4   1.84  30.82  ...    0.73    5.49  475  250.1
60          61  XW2HN4LQ4   1.92  20.56  ...    0.60    5.55  475  252.8
61          62  YM4LA4JC2   5.70  16.22  ...    0.39    6.35  408  176.4
62          63  YY2HN4LQ4   2.02  20.02  ...    0.54    5.85  475  252.4
63          64  YY2PX2LA6   2.05  19.30  ...    0.62    5.15  481  256.0

[5 rows x 14 columns]

In [128]:
Dat_Select=df.iloc[:,2:]

In [129]:
Dat_Select.head(5)

   Water    Ash  Volatil   FixC  NetCal  ...  Nitro  Sulfur  Oxygen   TC     Ea
0   4.19  19.45    33.19  43.17   23.91  ...   1.02    4.38    7.66  435  170.1
1   1.06  20.46    31.53  46.94   23.91  ...   1.38    0.74    7.51  451  206.6
2   6.60   9.56    31.49  52.35   26.22  ...   0.95    0.38   12.56  431  273.5
3   9.47  14.19    30.02  46.32   23.80  ...   0.83    0.44   13.71  403  160.8
4   1.84  18.10    29.43  50.63   27.73  ...   1.22    0.88    8.02  466  228.4

[5 rows x 12 columns]

In [130]:
# Separa os dados em normatizados e originais
X = Dat_Select[['Water','Ash','Volatil','FixC']]
y = np.array(Dat_Select[['NetCal']]).reshape(-1,1)

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20, shuffle=True, random_state=42)

In [132]:
scaler_X = preprocessing.MinMaxScaler((-1,1)).fit(X)
scaler_Y = preprocessing.MinMaxScaler((-1,1)).fit(y)

In [133]:
X_train = scaler_X.transform(X_train)
X_test = scaler_X.transform(X_test)
y_train = scaler_Y.transform(y_train)
y_test = scaler_Y.transform(y_test)

In [134]:
HN1 =[]
train_R2 =[]
test_R2 =[]
for i in range(5,30):
    # define a rede neural 
    model = MLPRegressor(solver='lbfgs',activation='tanh',alpha=1e-5,hidden_layer_sizes=(i),
                         random_state=11,max_iter=2500)
    # treina a rede neural
    model.fit(X_train, y_train)
    # usa a rede neural treina em calculos para treino e teste
    y_calc_train=model.predict(X_train)
    y_calc_test=model.predict(X_test)
    # transforma dos dados calculados na forma original (nao normatizado)
    y_obs_train=scaler_Y.inverse_transform(np.array(y_train).reshape(-1,1))
    y_obs_test=scaler_Y.inverse_transform(np.array(y_test).reshape(-1,1))
    y_calc_train=scaler_Y.inverse_transform(y_calc_train.reshape(-1,1))
    y_calc_test=scaler_Y.inverse_transform(y_calc_test.reshape(-1,1))
    mse=mean_squared_error(y_obs_test,y_calc_test)
    R2_teste=r2_score(y_obs_test,y_calc_test)
    R2_treino=r2_score(y_obs_train,y_calc_train)
    #print("i=",i"R^2 treino=",R2_treino,"R^2 teste=",R2_teste)
    HN1.append(i)
    train_R2.append(R2_treino)
    test_R2.append(R2_teste)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [135]:
df = pd.DataFrame({'camada 1':HN1,'R2 treino':train_R2,'R2 teste':test_R2})

In [136]:
pd.set_option('display.max_rows', None)
print(df)

    camada 1  R2 treino  R2 teste
0          5   0.977458  0.856905
1          6   0.990483  0.847125
2          7   0.988034  0.812863
3          8   0.992873  0.816351
4          9   0.976280  0.731033
5         10   0.991367  0.741468
6         11   0.994091  0.743685
7         12   0.991533 -0.179944
8         13   0.993332  0.718325
9         14   0.992754  0.503918
10        15   0.995916  0.426334
11        16   0.993223  0.769276
12        17   0.993659 -0.479724
13        18   0.993511 -3.468772
14        19   0.991371  0.188034
15        20   0.992166  0.658543
16        21   0.991527 -0.163679
17        22   0.993216  0.610751
18        23   0.994783  0.531211
19        24   0.989519  0.614539
20        25   0.990522 -0.999961
21        26   0.993861  0.827092
22        27   0.991173 -1.356406
23        28   0.992693 -1.567856
24        29   0.993144 -0.164139

In [137]:
rows, cols =df.shape

In [138]:
melhor = 0
place = 0

rteste1=0


for i in range(rows):
  rtreino =df.iloc[i,1]
  rteste =df.iloc[i,2]
  if(rteste > rteste1 ):
      melhor = rtreino
      place = i
      rteste1 = rteste
          
print('place',place)
print(df.iloc[place,:])

place 0
camada 1     5.000000
R2 treino    0.977458
R2 teste     0.856905
Name: 0, dtype: float64